{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block body_block %}
<div class="content">
    <div class="login_content container shadow-sm mb-auto">
        <div class="row align-items-stretch no-gutters contact-wrap">
            <div class="col-md-6">
                <div class="form h-100">
                    <h3>Sign In</h3>
                    {% if registered %}
                        <h1>Thanks for registering!</h1>
                    {% else %}
                        <form method="POST">
                            {{form|crispy}}
                            {% csrf_token %}
                            <p></p>
                            <input type="submit" class="btn btn-primary" value="Sign In">
                        </form>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6">
                <img class="h-100"src="{% static 'img/logojov.png'%}" width="550"alt="">
            </div>
        </div>
    </div>
</div>
<p class="last_p"></p>
{% endblock %}